<%- include("partials/header") -%>

<div class="custom-container">
  <div class="stardew-box-outline">
    <div class="stardew-box">
      <h1>Hello!</h1>
      <h5 class="mb-4">What are you trying to complete?</h5>

      <a href="/goal/community-center" class="all-buttons goal-button">Community Center</a>
      <a href="/goal/collections" class="all-buttons goal-button">All Collections</a>

    </div>
  </div>
</div>
<!-- custom js -->
<script type="text/javascript" src="/javascript/custom.js"></script>
<%- include("partials/footer") -%>
