<%- include("partials/header") -%>

<div class="custom-container">
  <!-- TODO need to uppercase first letter in username-->
  <h1>Hello <%=username%>!</h1>
  <h5 class="mb-4">What are you trying to complete?</h5>

  <a href="#" class="all-buttons button-shadows">Community Center</a>
  <a href="/user/<%=username%>/collections" class="all-buttons button-shadows">All Collections</a><!-- change link here -->

</div>

<%- include("partials/footer") -%>
