<%- include("partials/header") -%>

<div class="custom-container">
  <h1 class="mb-4">Create New User</h1>
  <p><%=message%></p>

  <div class="box">
    <form action="/create-user" method="post" class="login-form">
      <h5 class="mb-4">Pick a username and password</h5>

      <div class="mb-3">
        <input type="text" class="form-control mb-2" placeholder="Username" required="required" name="newUsername" autofocus>
        <input type="password" class="form-control mb-2" placeholder="Password" required="required" name="newPassword">
        <input type="password" class="form-control" placeholder="Confirm Password" required="required" name="confirmPassword">
        <small class="form-text text-muted"><b>ğ‘–</b> password must be at least 8 characters</small>
      </div>

      <div class="d-grid mb-2">
        <button type="submit" class="btn all-buttons btn-lg">Submit</button>
      </div>

    </form>

  </div>
  <br>
  <p>Please be aware, this app is a work in progress. <br>Usernames and passwords are NOT encrypted. <br>Avoid using any personal information in your user details.</p>
</div>


<%- include("partials/footer") -%>
