<%- include("partials/header") -%>

<div class="custom-container">
  <div class="stardew-box-outline mt-4">
    <div class="stardew-box">
      <h1 class="mb-4">Create New User</h1>
      <p><%=message%></p>

      <form action="/create-user" method="post" class="login-form">
        <h5 class="mb-4">Pick a username and password</h5>

        <div class="mb-3">
          <input type="text" class="form-control mb-2" placeholder="Username" required="required" name="username" autofocus>
          <input type="password" class="form-control mb-2" placeholder="Password" required="required" name="password">
          <input type="password" class="form-control" placeholder="Confirm Password" required="required" name="confirmPassword">
          <small class="form-text text-muted"><b>ğ‘–</b> password must be at least 8 characters</small>
        </div>

        <div class="d-grid mb-2">
          <button type="submit" class="btn btn-lg login-button">Submit</button>
        </div>

      </form>
    </div>
  </div>
  <br>

</div>


<%- include("partials/footer") -%>
