:root {
  --light:#fce3c2;
  --dark: #341E27;
  --background:#FABD72;
  --linkHover:#6b6a6a;
  --buttonHover:#fcae4c;
  --buttonShadow:#995302;
  --outline-inside:#B14E05;
  --outline-middle:#FA9305;
  --outline-outside:#853605;
  --font: 'Dosis', sans-serif;
}

body{
  background:url("/images/mountainsBg.png");
  text-align:center;
  font-family: var(--font);
  letter-spacing:0.05rem;
}

a{
  color:var(--dark);
  text-decoration:none;
  font-weight:bold;
}

a:hover{
  color:var(--dark);
}

h5{
  padding-top:2px;
}

/* keeps footer at bottom even if page isn't full */
.site{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content{
  flex: 1;
}

/* loader */
.loader{
  position:fixed;
  z-index:99;
  top:64px;
  left:0;
  width:100%;
  height:100%;
  background:var(--background);
}

.loader img{
  position:fixed;
  top:45%;
}

.loader.hidden{
  animation: fadeOut 0.7s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut{
  100%{
    opacity:0;
    visibility: hidden;
  }
}

/*containers*/
.custom-container{
  padding:4% 8%;
  width:55%;
  margin:0 auto;
}

.stardew-box{
  color:var(--dark);
  box-shadow: inset -2px 2px 0px 1px rgba(0,0,0,0.17);
  padding:1.4rem 2rem;
  background:var(--background);
  border:3px solid var(--outline-inside);
  outline: var(--outline-middle) solid 3px;
}

.stardew-box-outline{
  border:6px solid var(--outline-outside);
  box-shadow:-2px 2px 0px 1px rgba(0,0,0,0.25);
}

/* navbar */
.logo-link:hover{
  color:var(--dark)
}

.logo-text{
  font-weight:bold;
}

.navbar{
  background-color:var(--background);
}

/* login form */
.login-form{
  padding:0px 20px 20px 20px;
}

.login-form input{
  border-radius:0;
  border:none;
  letter-spacing:0.05rem;
  background:var(--light);
}

.login-form h5, .form-control::placeholder{
  color:var(--dark);
}

.form-control:focus {
  box-shadow: none !important;
  border:none;
  background:var(--light);
}

/* buttons */
.login-button, .category-button, .goal-button, .item-button, .sb-buttons {
  letter-spacing: 0.05rem;
  font-weight:bold;
  border-radius: 0;
  color:var(--dark);
  border:1px solid var(--dark);
  padding:10px;
  display:inline-block;
  margin:0 0 8px 0;
  background:none;
}

.category-button, .goal-button{
  width:100%;
  padding:9px;
}

.goal-button{
  background:var(--light);
  border:none;
}

.category-button:hover{
  color:var(--dark);
}

.item-button{
  padding:5px;
  background:none;
  border:none;
}

.item-button img{
  width:55px;
}

.login-button{
  border-radius:0;
  border:none;
  letter-spacing:0.05rem;
  background:var(--light);
  margin:0;
}

.category-button:focus, .category-button:active, .login-form button:active, .login-form button:focus, .goal-button:active, .goal-button:focus {
	position:relative;
	top:1px;
  box-shadow:inset 3px 4px 0px 0px var(--buttonShadow);
  background:#c46a00 !important;
}

.inset {
  position:relative;
  top:1px;
  box-shadow:inset 3px 4px 0px 0px var(--buttonShadow);
  background:#c46a00 !important;
}

.green-background{
  background:#99d973 !important;
}

.blue-background{
  background:#92BBCD;
}

.yellow-background{
  background:#F8D541;
}

/* collections page */
.buttons-pane-form{
  display:inline;
}

.text-pane{
  min-height:32rem;
  max-height:100vh;
  color:var(--dark);
  font-weight:bold;
  background:none;
  border:1px solid var(--dark);
}

/* footer */
.footer p{
  font-weight:normal;
}
